select.form-control {
    border-radius: rem(6px);
    background: white url("../img/caret-down.svg") calc(100% - 1rem) 50% no-repeat;
    background-size: 13px 10px;
}

select.form-control-sm {
    border-radius: rem(4px);
    background-size: 10px 8px;
}

input.input-text,
textarea.input-text {
    @extend .form-control;
}

.select2-container .select2-selection--single {
    height: 48px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 10px 1.25rem;
}

button.wc-donation-f-submit-donation {
    padding: $btn-padding-y $btn-padding-x;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    border: $btn-border-width solid $dark-evergreen;
    border-radius: $btn-border-radius;
    text-transform: uppercase;
}

.gfield_description {
    margin-bottom: 1rem;
}

legend.gfield_label {
    @include lead;
    font-weight: $font-weight-bold;
}

.gform_footer {
    margin-top: 2rem;
}

.gfield_checkbox {
    [type="checkbox"] {
        position: absolute;
        left: 0;
        opacity: 0.01;
    }

    [type="checkbox"] + label {
        position: relative;
        padding-left: 40px;
        cursor: pointer;
    }

    /* Check box */
    [type="checkbox"] + label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 30px;
        height: 30px;
        border: 3px solid $blue;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    /* Check mark */
    [type="checkbox"] + label::after {
        content: "";
        position: absolute;
        left: 7px;
        top: 50%;
        width: 16px;
        height: 16px;
        background-color: $blue;
        border-radius: 50%;
        opacity: 0;
        transform: translateY(-50%) scale(0);
        transition: opacity 0.25s, trasnform 0.35s $ease-out;
    }

    [type="checkbox"]:checked + label::after {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }

    /* Disabled checkbox */
    [type="checkbox"]:disabled + label::before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #e9e9e9;
    }

    [type="checkbox"]:disabled:checked + label::after {
        opacity: 0.5;
    }

    [type="checkbox"]:disabled + label {
        color: #aaa;
    }

    /* Accessibility */
    [type="checkbox"]:focus + label::before {
        box-shadow: 0 0 0 0.25rem rgb(29 39 85 / 25%);
    }
}

.gform_button {
    @extend .btn;
    @extend .btn-outline-primary;
}

label {
    @include medium;
    margin-bottom: 10px;
    font-weight: $font-weight-bold;
}

.hidden_label .gfield_label {
    @include visually-hidden();
}

.gform_description {
    margin-bottom: 1.5rem !important;
}

.validation_message {
    margin-top: 5px;
    font-size: rem(14px);
    color: $danger;
}

.gform_required_legend {
    display: none;
}

.gform_submission_error {
    margin-bottom: 1em !important;
    @include lead;
}

.gform_wrapper.gravity-theme .field_description_above .description,
.gform_wrapper.gravity-theme .field_description_above .gfield_description,
.gform_wrapper.gravity-theme .field_description_above .gsection_description,
.gform_wrapper.gravity-theme .field_description_above .instruction {
    padding: 0.5rem 1rem !important;
}
