section.breadcrumbs {
    margin: 40px 0;
    font-size: rem(14px);

    .container {
        display: flex;
        flex-flow: row wrap;
    }

    a::after {
        content: ">";
        display: inline-block;
        margin: 0 0.5rem;
        color: $body-color;
    }

    @include lg {
        font-size: rem(16px);
    }
}
