section.content-with-image {
    z-index: 1;
    overflow: visible;

    @include md {
        .image {
            height: calc(100% + 160px);
        }

        &.align-left .image {
            margin: -80px 0 -80px -40px;
        }

        &.align-right .image {
            margin: -80px -40px -80px 0;
        }

        .content {
            padding: 0 30px;
        }
    }

    @include lg {
        .image {
            height: calc(100% + 220px);
        }

        &.align-left .image {
            margin: -110px 0 -110px -50px;
        }

        &.align-right .image {
            margin: -110px -50px -110px 0;
        }

        .content {
            padding: 0 50px;
        }
    }

    @include xl {
        .image {
            height: calc(100% + 260px);
        }

        &.align-left .image {
            margin: -130px 0 -130px -60px;
        }

        &.align-right .image {
            margin: -130px -60px -130px 0;
        }

        .content {
            padding: 0 70px;
        }
    }

    @include xxl {
        .image {
            height: calc(100% + 300px);
        }

        &.align-left .image {
            margin: -150px 0 -150px -60px;
        }

        &.align-right .image {
            margin: -150px -60px -150px 0;
        }

        .content {
            padding: 0 70px;
        }
    }
}
