.widget_wc-donation-widget {
  .campaign-title,
  .block-campaign-thumbnail {
    display: none;
  }
}

.price-wrapper {
  margin-bottom: 15px;
}

.wc-donation-f-donation-other-value {
  margin-bottom: 0;
}
