section.footer-cta {
    h1 {
        margin-bottom: 30px;
    }

    span {
        @include debug;
        position: relative;
    }

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: none;
        width: 1000px;
        height: 100px;
        overflow: visible;
    }

    @include md {
        h1 {
            margin-bottom: 102px;
        }
    }

    @include lg {
        h1 {
            margin-bottom: 97px;
        }
    }

    @include xl {
        h1 {
            margin-bottom: 90px;
        }
    }
}

footer {
    @include section-padding;
    background: $sand;

    p {
        margin-bottom: 30px;
    }

    .logo img {
        display: block;
        width: auto;
        height: 80px;
        margin-bottom: 30px;
    }

    ul.menu {
        margin-bottom: 1rem;
        padding: 0;
        list-style: none;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            margin-bottom: 0;
        }

        > li > a {
            font-weight: $font-weight-bold;
        }

        a {
            color: $body-color;
        }
    }

    ul.social {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 0;
        list-style-type: none;

        li {
            margin: 0 24px 0 0;
        }

        a {
            display: block;
        }

        svg {
            height: 24px;
            width: auto;
        }
    }

    ul.utility {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 30px;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0.75em;

        a {
            font-weight: $font-weight-bold;
            color: $body-color;
        }
    }

    .disclaimer {
        margin-bottom: 30px;
        font-size: 0.75em;
    }

    @include xl {
        .logo img {
            height: 100px;
            margin-bottom: 40px;
        }

        p,
        ul.social {
            margin-bottom: 40px;
        }
    }
}
