header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    transition: background-color 0.25s;

    body.admin-bar & {
        top: 46px;
    }

    .skip {
        display: block;
        white-space: nowrap;
        margin-left: -15px;
        padding: 10px 15px;
        font-size: rem(16px);
        font-weight: $font-weight-bold;
        line-height: rem(20px);
        color: $white;
        opacity: 0;

        &:focus {
            opacity: 1;
        }
    }

    .main-nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: -15px;
            right: -15px;
            top: 0;
            bottom: 0;
            background-color: $sand;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            transition: box-shadow 0.25s;
        }
    }

    .logo {
        display: block;
        flex-shrink: 0;
        transition: color 0.25s;
        color: $blue;

        svg {
            width: auto;
            height: 30px;
        }
    }

    .menu-toggle {
        position: relative;
        appearance: none;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        background: transparent;
        border: none;

        .bar {
            position: absolute;
            left: 10px;
            top: 20px;
            display: block;
            width: 20px;
            height: 2px;
            background-color: $body-color;
            transition: opacity 0.25s, transform 0.25s $snappy;

            &:nth-child(1) {
                transform: translateY(-7px);
            }

            &:nth-child(3) {
                transform: translateY(7px);
            }
        }
    }

    .search-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-left: 20px;
        padding: 0;
        background: transparent;
        border: none;
        color: $grey-3;

        &:hover,
        &:focus-visible {
            color: $spruce;
        }

        .icon {
            width: 16px;
            height: 16px;
        }
    }

    .sub-menu-toggle {
        position: absolute;
        right: 0;
        top: 10px;
        appearance: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        background: transparent;
        border: none;
        transition: transform 0.25s $ease-out-back;
        color: $grey-2;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    li.menu-item-has-children.active > .sub-menu-toggle {
        transform: rotate(180deg);
    }

    .menu-wrap {
        position: fixed;
        z-index: 11;
        right: 0;
        top: 0;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        max-width: 480px;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: none;
        background: $white;
        box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 0.25s linear 0s, transform 0.35s $snappy 0s, visibility 0s linear 0.35s,
            width 0s linear 0.35s;
    }

    .menu-header {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 80px;
        padding: 10px 30px;
    }

    ul.menu {
        margin: 0;
        padding: 0 30px 5px;
        list-style: none;

        > li {
            position: relative;
            margin-bottom: 0;
            border-top: 1px solid $grey-border;

            &:last-child {
                border-bottom: none;
            }

            > a {
                position: relative;
                display: inline-block;
                padding: 20px 0;
                text-decoration: none;
                font-weight: $font-weight-regular;
                font-size: rem(20px);
                line-height: rem(20px);
                color: $body-color;
                cursor: pointer;
                transition: color 0.25s;
            }

            > a:hover,
            > a:focus-visible,
            &.current-menu-parent > a {
                color: $spruce;
            }

            &.current-menu-parent > .sub-menu-toggle::before {
                border-top-color: $spruce;
            }

            &:hover > .sub-menu-toggle::before,
            &:focus-within > .sub-menu-toggle::before {
                border-top-color: $spruce;
            }
        }
    }

    ul.utility {
        margin: 0;
        padding: 0 30px;
        list-style: none;

        li {
            margin: 1rem 0;
        }
    }

    ul.sub-menu {
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.25s, transform 0.25s $ease-out;

        li {
            margin-bottom: 0;
        }

        a {
            display: block;
            padding: 8px 0;
            text-decoration: none;
            font-weight: $font-weight-regular;
            font-size: rem(18px);
            color: $grey-3;
        }
    }

    ul.sub-menu ul.sub-menu {
        height: auto;
        opacity: 1;
        margin: 10px 0 -10px 0;
        padding-left: 10px;
        border-left: 4px solid $grey-1;

        & + .sub-menu-toggle {
            display: none;
        }

        a {
            padding: 6px 0;
        }
    }

    li.menu-item-has-children.active > ul.sub-menu {
        height: auto;
        margin: 0 0 1rem;
        opacity: 1;
        transform: translateY(0);
    }

    @media (min-width: 783px) {
        body.admin-bar & {
            top: 32px;
        }
    }

    @include md {
        .logo svg {
            height: 40px;
        }
    }

    @include lg {
        .logo svg {
            height: 40px;
        }

        .menu-toggle {
            display: none;
        }

        .main-nav::before {
            left: -30px;
            right: -30px;
        }

        .menu-wrap {
            position: relative;
            left: 0;
            top: 0;
            flex-flow: row nowrap;
            align-items: center;
            max-width: none;
            height: auto;
            background: transparent;
            box-shadow: none;
            visibility: visible;
            opacity: 1;
            transform: none;
            overflow: visible;
        }

        .menu-header {
            display: none;
        }

        .sub-menu-toggle {
            pointer-events: none;

            svg {
                display: none;
            }

            &::before {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: $evergreen transparent transparent transparent;
                transition: border-color 0.25s;
            }
        }

        ul.menu {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            margin: 0 auto;
            padding: 0;

            > li {
                margin: 0 10px;
                padding: 0;
                border-top: none;

                &.menu-item-has-children > a {
                    padding-right: 32px;
                }

                > a {
                    padding: 20px;
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;
                    font-size: rem(18px);
                    color: $evergreen;

                    &:hover {
                        color: $spruce;
                        text-decoration: none;
                    }
                }
            }
        }

        ul.menu > li > ul.sub-menu {
            position: absolute;
            left: calc(50% - 110px);
            top: 100%;
            width: 220px;
            height: auto !important;
            padding: 20px;
            background-color: $white;
            box-shadow: $shadow-default;
            visibility: hidden;
            opacity: 0;
            transform: translateY(0);
            transition: opacity 0.15s linear 0.1s, transform 0.35s $snappy 0.1s, visibility 0s linear 0.35s;

            a {
                position: relative;
                display: block;
                padding: 10px;
                text-align: center;
                font-weight: $font-weight-bold;
                color: $evergreen;
                transition: color 0.25s, background-color 0.25s;

                &:hover,
                &:focus-visible {
                    color: $spruce;
                    text-decoration: underline;
                }
            }

            li:last-child a {
                border-bottom: 0;
            }
        }

        ul.menu > li.menu-item-has-children {
            &.hover ul.sub-menu,
            &:focus-within ul.sub-menu {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition: opacity 0.25s linear 0s, transform 0.35s $snappy 0s, visibility 0s linear 0s;
            }
        }

        ul.sub-menu ul.sub-menu {
            margin: 0;
            padding: 0;
            border: none;
            transform: none;

            a {
                padding: 2px 10px !important;
                font-weight: $font-weight-semibold !important;
                color: $grey-3 !important;

                &:hover,
                &:focus-visible {
                    color: $grey-4 !important;
                }
            }
        }

        ul.utility {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 0;

            li {
                margin: 0;
            }

            .btn {
                min-width: 140px;
            }
        }
    }

    @include xl {
        .main-nav {
            transition: padding 0.5s $ease-out;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .logo svg {
            transition: height 0.5s $ease-out;
            height: 50px;
        }
    }

    @include xxl {
        .main-nav {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .logo svg {
            height: 60px;
        }
    }
}

header.minify {
    @include xl {
        .main-nav {
            padding-top: 12px;
            padding-bottom: 12px;

            &::before {
                box-shadow: $shadow-default;
            }
        }

        .logo svg {
            height: 36px;
        }
    }
}

html.menu-active {
    overflow: hidden;
    overscroll-behavior-y: none;

    body {
        overscroll-behavior-y: none;
    }

    header {
        transform: none !important;

        .menu-toggle .bar {
            &:nth-child(1) {
                transform: translateY(0) rotate(-45deg);
            }
            &:nth-child(2) {
                transform: scale(0);
            }
            &:nth-child(3) {
                transform: translateY(0) rotate(45deg);
            }
        }

        .menu-wrap {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
            transition: opacity 0.25s linear 0s, transform 0.35s $snappy 0s, visibility 0s linear 0s, width 0s linear 0s;
        }
    }

    @include lg {
        header .menu-wrap {
            width: auto;
        }
    }
}
