.image-slider {
    --swiper-navigation-size: 34px;

    overflow: visible;

    .single & {
      overflow: hidden;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: var(--swiper-navigation-size);
        width: var(--swiper-navigation-size);
        border-radius: 50%;
        background: $maroon;
        color: $white;
        transition: transform 0.25s $ease-out;

        &:after {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 0;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%) scale(1.2);
        }
    }

    .swiper-button-next {
        right: 0;
        transform: translateX(50%);

        &:hover {
            transform: translateX(50%) scale(1.2);
        }
    }

    @include md {
        --swiper-navigation-size: 44px;

        width: 150%;
        margin-left: -25%;

        .single & {
          width: 100%;
          margin-left: 0;
        }

        .swiper-button-prev {
            left: 33.33%;
        }

        .swiper-button-next {
            right: 33.33%;
        }
    }

    @include lg {
        --swiper-navigation-size: 54px;
    }
}
