.location-excerpt {
    background: $white;
    @include medium;

    picture {
        min-height: 100%;
        padding-top: 80%;
    }

    .content {
        display: flex;
        flex-flow: column nowrap;
        min-height: 100%;
        padding: 30px;
    }

    @include md {
        picture {
            padding-top: 90%;
        }
    }
}
