main.map-embed {
    display: flex;
    height: 100%;
    border-top: none;
    border-radius: 10px;
    background: $sand;

    .layers {
        overflow: auto;
        flex-shrink: 0;
        width: 40px;
        height: 100%;
        padding-top: 10px;
        transition: width 0.25s $ease-out;

        &.active {
            width: 100%;

            button.expand .icon {
                transform: scaleX(-1);
            }

            > ul {
                display: block;
            }
        }

        button.expand {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            margin-top: 12px;
            margin-left: 10px;
            padding: 0;
            border: none;
            border-radius: 3px;
            background: $white;
            color: $grey-4;

            .icon {
                width: 20px;
                height: 20px;
                transition: transform 0.5s $ease-out;
            }
        }

        ul {
            display: none;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        ul ul {
            display: none;
            border-top: 1px solid $grey-1;
        }

        li {
            margin: 0;
            border-bottom: 1px solid $grey-1;
            transition: opacity 0.25s;

            &:last-child {
                border-bottom: none;
            }
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .group-layer {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            padding: 0;
            border: none;
            border-radius: 3px;
            background: $white;
            color: $grey-4;

            .icon {
                width: 16px;
                height: 16px;
            }
        }

        span {
            font-weight: $font-weight-semibold;
        }
    }

    .icon.hide {
        display: none;
    }

    .icon.show {
        display: block;
    }

    .hidden {
        opacity: 0.5;

        .icon.hide {
            display: block;
        }

        .icon.show {
            display: none;
        }
    }

    .feature-layer {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            padding: 0;
            border: none;
            border-radius: 3px;
            background: $white;
            color: $grey-4;

            .icon {
                width: 12px;
                height: 12px;
            }
        }
    }

    .map {
        width: 100%;
        min-width: 260px;
        height: calc(100% - 20px);
        margin: 10px;
        border-radius: 5px;
        border: 1px solid darken($grey-1, 10%);
    }

    @include md {
        .layers {
            width: 260px;

            &.active {
                width: 260px;
            }

            button.expand {
                display: none;
            }

            > ul {
                display: block;
            }
        }
    }
}

/* Shrink the infowindow close button */
.gm-style .gm-style-iw button.gm-ui-hover-effect {
  width: 24px !important;
  height: 24px !important;
  top: 8px !important;
  right: 8px !important;
  border-radius: 12px !important;

  span {
    margin: 0 !important;
  }
}
