.post-excerpt {
    display: block;
    min-height: 100%;
    border: 1px solid $grey-border;
    color: $body-color;
    transition: transform 0.25s $ease-out, box-shadow 0.25s;

    &:hover {
        transform: translateY(-10px);
        box-shadow: $shadow-default;
        text-decoration: none;
        color: $body-color;
    }

    .content {
        padding: 20px;
    }

    @include lg {
        .content {
            padding: 30px 40px 40px;
        }
    }
}
