.provider-header {
    display: flex;
    align-items: center;

    .image {
        width: 100px;
        margin-right: 20px;
    }

    @include md {
        .image {
            width: 150px;
            margin-right: 30px;
        }
    }

    @include lg {
        .image {
            width: 200px;
            margin-right: 40px;
        }
    }

    @include xl {
        .image {
            width: 236px;
            margin-right: 50px;
        }
    }
}
