.sidebar-content-box,
.sidebar-icon-list {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @include lg {
        margin-bottom: 60px;
    }

    @include xl {
        margin-bottom: 80px;
    }
}

.sidebar-content-box {
    position: relative;
    padding: 30px;
    border: 1px solid $grey-border;
    border-top: none;

    &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 0;
        display: block;
        width: calc(100% + 2px);
        height: 8px;
        background: $gradient-primary 0 0 no-repeat;
        background-size: cover;
    }

    .btn {
        display: block;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin-bottom: 0;
    }

    hr {
        margin: 40px auto;
    }

    a {
        font-weight: $font-weight-light;
    }

    @include lg {
        padding: 40px;

        .btn {
            font-size: rem(18px);
        }
    }

    @include xl {
        padding: 50px;
    }

    @include xxl {
        font-size: rem(20px);

        .btn {
            font-size: rem(20px);
        }
    }
}

.sidebar-icon-list {
    @include medium;

    .icon {
        display: block;
        flex-shrink: 0;
        width: 60px;
    }

    @include lg {
        .icon {
            width: 74px;
        }
    }
}
